{% extends 'base.html' %}  

{% block head %} 
   
{% endblock %}
 
{% block body %}
	<div class="home-content">
	 	<div class="home-content1">
	 	<div class="cta-text"><div class="call-to-action-text">DELIVERING EXCELLENT SERVICES</div></div>
	 	<div class="cta-text"><div class="call-to-action-subtext">We are a technology driven solutions provider, do you have any delivery needs? we can help!.</div></div>
	 	<div class="form00"><form action="/track" class="form0">
	 		<input class="track-input" type="text" name="track-order" placeholder="Enter Waybill Number" required>
	 		<button class="track-btn" type="submit">Track Order</button>
	 	</form></div>

	 	<div class="mobile-forms"><form action="/track" class="form2">
	 		<input class="track-input1" type="text" name="track-order" placeholder="Enter Waybill Number" required><br><br>
	 		<button class="track-btn1" type="submit">Track Order</button>
	 	</form></div>

	 	<div class="content-card">
	 		<div class="content-card1">
	 		<div class="card1">
	 			<div class="card-image"><img class="card-inner-image" src="{{ url_for('static', filename = 'image/illustration 2.png')}}"  alt="image"></div>
	 			<div class="card-text">E-COMMERCE DELIVERY SOLUTION</div>
	 			<div class="card-subtext">We work in partnership with you to achieve the right delivery solutions that will convey positive outcomes to your e-Commerce business.</div>
	 		</div>
	 		<div class="card2">
	 			<div class="card-image"><img class="card-inner-image" src="{{ url_for('static', filename = 'image/illusrations.png')}}"  alt="image"></div>
	 			<div class="card-text">DOMESTICS DELIVERY SERVICES</div>
	 			<div class="card-subtext">Whether sending within the city or across the country, Muuvas is here to serve you. We at Muuvas offer safe and speedy delivery to your doorstep.</div>
	 		</div>
	 		<div class="card3">
	 			<div class="card-image"><img class="card-inner-image" src="{{ url_for('static', filename = 'image/illustration1.png')}}"  alt="image"></div>
	 			<div class="card-text">INTERNATIONAL DELIVERY SERVICES</div>
	 			<div class="card-subtext">We know how important it is for you to reach all your international destinations via a single service provider with capacity to respond flexibly.</div>
	 		</div>
	 		</div>
	 		</div>

	 		<!--div class="read-btn0"><a href="/" ><div class="read-btn">READ MORE</div></a></div-->
	 	</div>

	 	
	 </div>

	 <div class="home"><img class="home-image" src="{{ url_for('static', filename = 'image/35863065_m.png')}}"  alt="image"><img class="home-image1" src="{{ url_for('static', filename = 'image/image2.png')}}"  alt="image"></div>

	 <div class="wcu-section">
	 	<div class="wcu-text">WHY CHOOSE US?</div>
	 	<!--div class="wcu-subtext">Find reasons to choose us as your logistics patner</div-->
	 	<div class="wcu-section1">
	 		<div class="services">
        
	            <div class="sub-service-section">
	                <img class="service-icon" src="{{ url_for('static', filename = 'image/archive-lock-outline.svg')}}"  alt="image">
	                <div class="sub-service-section-description">
	                    <div class="service-title">
	                        Secure / Safety
	                    </div>
	                    <div class="service-description">
	                    Security can never go out of fashion. And in this age of e-commerce and online transactions, we have the perfect solution to make secure and timely deliveries a constant reality in your business.    
	                    </div>
	                </div>
	            </div>
	            

	        
	            <div class="sub-service-section1">
	                <img class="service-icon" src="{{ url_for('static', filename = 'image/truck-fast-outline.svg')}}"  alt="image">
	                <div class="sub-service-section-description">
	                    <div class="service-title">
	                        Speed
	                    </div>
	                    <div class="service-description">
	                        Time is money! This statement of fact is only too obvious in the logistics industry. Knowing when your shipment will be delivered and receiving it at that set time is vital if you want to keep your business running with positive customer reviews. And we do just that. Using our unique online tracking system, see exactly when your shipment will arrive for total peace of mind.</div>
	                </div>
	            </div>
        
    		</div>



    		<div class="services">
        
		        <div class="sub-service-section">
		            <img class="service-icon" src="{{ url_for('static', filename = 'image/archive-marker-outline.svg')}}"  alt="image">
		            <div class="sub-service-section-description">
		                <div class="service-title">
		                    Good Network Coverage
		                </div>
		                <div class="service-description">
		                We utilize a unique wide ranged system that covers all our shops and logistics providers. Simply enter your tracking ID, get real-time tracking, and receive notifications so you don't miss any update!    
		                </div>
		            </div>
		        </div>
		        

		    
		        <div class="sub-service-section1">
		            <img class="service-icon" src="{{ url_for('static', filename = 'image/book-account.svg')}}"  alt="image">
		            <div class="sub-service-section-description">
		                <div class="service-title">
		                    Technolgy Driven
		                </div>
		                <div class="service-description">
		                Our online presence gives you a wide variety of choices in online ordering systems. We have a comfortable, reliable and efficient ordering system to view our range of servives and to seamlessly handle orders  from any part of Nigeria.    
		                </div>
		            </div>
		        </div>
		    </div>



	 	</div>
	 </div>




















	 <div class="mobile">
		<div class="service-title-head ">Why Choose Us?</div>
		<div class="service-description-head ">Find reasons to choose us as your logistics patner</div>  
	</div> 

		<div id="service-section1" class="service-section1 ">
		    

		    <div class="services2">
		        <div class="sub-services1">
		            <div >
		                <img class="service-icon1" src="{{ url_for('static', filename = 'image/archive-lock-outline.svg')}}"  alt="image">
		            </div>
		            <div class="service-title1">
		                Safety / Secure
		            </div>
		            <div class="service-description1">
		                 Security can never go out of fashion. And in this age of e-commerce and online transactions, we have the perfect solution to make secure and timely deliveries a constant reality in your business.    
		             </div>

		        </div>
		        <div class="sub-services1">
		            <div >
		                <img class="service-icon1" src="{{ url_for('static', filename = 'image/truck-fast-outline.svg')}}"  alt="image">
		            </div>
		            <div class="service-title1">
		                Speed
		            </div>
		            <div class="service-description1">
		                Time is money! This statement of fact is only too obvious in the logistics industry. Knowing when your shipment will be delivered and receiving it at that set time is vital if you want to keep your business running with positive customer reviews. And we do just that. Using our unique online tracking system, see exactly when your shipment will arrive for total peace of mind.</div>
		             </div>
		        
		        <div class="sub-services1">
		            <div >
		                <img class="service-icon1" src="{{ url_for('static', filename = 'image/archive-marker-outline.svg')}}"  alt="image">
		            </div>
		            <div class="service-title1">
		                Technologically Driven
		            </div>
		            <div class="service-description1">
		                We utilize a unique fast tracking system covering all our shops and logistics providers. Simply enter your tracking ID, get real-time tracking, and receive notifications so you don't miss any update!    
		             </div>
		        </div>
		    </div>

		    <a href="/services"><div class="service-btn1">See All</div></a>

		</div>























	 <a href="/">
	 <div class="our-story-section">
	 	<div class="story-text">OUR STORY</div>
	 	<div class="story-subtext">Muuvas was funded with the dream of delivering excellence with EVERY SINGLE DELIVERY,.... we aim to change the world,.... one delivery at a time.</div></a>

	 <div class="location-section">
	 	<div class="location-subsection">
	 		<a href="/"><div class="loc-img">
	 			<div class="location-text">
	 				<div class="location-subtext">OFFICE</div>
	 				<div class="location-subtext1">NIGERIA</div>
	 				<div class="location-subtext2"><img class="text-image" src="{{ url_for('static', filename = 'image/room-24px 1.svg')}}"  alt="image"><span class="text-t">ABUJA</span></div>
	 				<div class="location-subtext2"><img class="text-image" src="{{ url_for('static', filename = 'image/room-24px 1.svg')}}"  alt="image"><span class="text-t">LAGOS</span></div>
	 				<div class="location-subtext2"><img class="text-image" src="{{ url_for('static', filename = 'image/room-24px 1.svg')}}"  alt="image"><span class="text-t">PORT HARCOURT</span></div>
	 				<div class="location-subtext2">Click to view 100+ locations</div>
	 			</div>
	 			<img class="location-image" src="{{ url_for('static', filename = 'image/Lagos.png')}}"  alt="image">
	 		</div></a>
	 		<a href="/"><div>
	 			<div class="location-text">
	 				<div class="location-subtext">OFFICE</div>
	 				<div class="location-subtext1">GHANA</div>
	 				<div class="location-subtext2"><img class="text-image" src="{{ url_for('static', filename = 'image/room-24px 1.svg')}}"  alt="image"><span class="text-t">ACCRA</span></div>
	 				<div class="location-subtext2"><img class="text-image" src="{{ url_for('static', filename = 'image/room-24px 1.svg')}}"  alt="image"><span class="text-t">KUMASI</span></div>
	 			</div>

	 			<img class="location-image" src="{{ url_for('static', filename = 'image/Ghana.png')}}"  alt="image">
	 		</div></a>
	 		<a href="/"><div>
	 			<div class="location-text">
	 				<div class="location-subtext">OFFICE</div>
	 				<div class="location-subtext1">RWANDA</div>
	 				<div class="location-subtext2"><img class="text-image" src="{{ url_for('static', filename = 'image/room-24px 1.svg')}}"  alt="image"><span class="text-t">RWANDA</span></div>
	 				<div class="location-subtext2"><img class="text-image" src="{{ url_for('static', filename = 'image/room-24px 1.svg')}}"  alt="image"><span class="text-t">EASTERN AFRICA</span></div>
	 			 </div>

	 			<img class="location-image" src="{{ url_for('static', filename = 'image/Kenya.png')}}"  alt="image">
	 		</div></a>
	 	</div>
	 </div>


{% endblock %}
