{% extends 'base.html' %}  

{% block head %} 
    
{% endblock %}
 
{% block body %}
	<div class="order-section"><img class="card-inner-image" src="{{ url_for('static', filename = 'image/Lagos-Header1.jpg')}}"  alt="image"></div>
	<div class="order-section1">
		<div class="os-title">DELIVERY AND EXTRA SERVICES TO SUIT EVERY NEED</div>
		<div class="os-description">Our wide range of domestic and international delivery and in-home services have everything your business needs to grow.</div>
	</div>
	<div class="os-section">
		<div class="os-services0">
		<div class="os-services">
			<div class="sub-service-section2">
				<div class="sub-service-section-description1">
				<div class="service-title1">
					Express Delivery
				</div>
				<div class="service-description1">
					We offer express delivery services straight to your door step. With our comprehensive network coverage of Nigeria, we are very effective at delivering as fast and safe as you expect. Our express service options include same day and next day deliveries, for remote areas, the appropriate additional timelines apply accordingly.
Sailing on our network of international partnerships our international deliveries are fast, safe and very efficient.

				</div>
			</div>
			</div>
			<div class="sub-service-section3">
				<div class="sub-service-section-description1">
				<div class="service-title1">
					Mailroom Management
				</div>
				<div class="service-description1">
					Let us take away the stress of mailroom management from your company while you focus on your core business. Our team of professionals will handle your entire mailroom operations and consequently help you reduce the overhead and stress that comes with mailroom operations, this specialized service offering is designed to scale even as your business grows and mailroom operations become a burden. 
				</div>
			</div>
			</div>
		</div>
		</div>
		<div class="os-services0">
		<div class="os-services">
			<div class="sub-service-section2">
				<div class="sub-service-section-description1">
				<div class="service-title1">
					Dedicated Motorcycle Service 
				</div>
				<div class="service-description1">
					The DMS places a dedicated courier dispatch rider at your service. Muuvas offers her clients a service that puts the customer’s specific needs first, this specialized service provides the solution to clients who require a dedicated and reliable delivery service to cater to their daily intracity delivery needs, and this comes at a very affordable rate.
				</div>
			</div>
			</div>
			<div class="sub-service-section3">
				<div class="sub-service-section-description1">
				<div class="service-title1">
					Haulage Services
				</div>
				<div class="service-description1">
					Muuvas offers her clients very efficient haulage services, regardless of the ‘size’ of your needs we stand capable and confident of delivering on them, from 1 ton to 30 tons we will handle your trucking needs professionally
				</div>
			</div>
			</div>
		</div>
		</div>
		<div class="os-services0">
		<div class="os-services">
			<div class="sub-service-section2">
				<div class="sub-service-section-description1">
				<div class="service-title1">
					Air/sea Freight (Export and Import)
				</div>
				<div class="service-description1">
					Our experienced team of professionals provide tailor-made and flexible solutions to meet your unique freight needs, be it the speed of air freighting or the bulk of sea freighting (up to full container), we’ve got you covered.
				</div>
			</div>
			</div>
			<div class="sub-service-section3">
				<div class="sub-service-section-description1">
				<div class="service-title1">
					Removals/Packaging
				</div>
				<div class="service-description1">
					Muuvas offers a wholistic solution to cater to your relocation needs, be it corporate and/or domestic removals, the experience is so smooth it feels like teleportation.
				</div>
			</div>
			</div>
		</div>
		</div>
		<div class="os-services0">
		<div class="os-services">
			<div class="sub-service-section2">
				<div class="sub-service-section-description1">
				<div class="service-title1">
					Cold Chain / Bio pharm 
				</div>
				<div class="service-description3">
					We are proficient in the shipment of sensitive medical and pharmaceutical shipments such as diagnostic biological samples and clinical trial supplies; we ensure integrity of our temperature-controlled shipments at all cost.
				</div>
			</div>
			</div>
			
		</div>
	</div>
	</div>



	<div class="but-section">
		<div class="but-section1">
		<div class="but-subsection1">
			<div class="but-title">Book Us Today</div>
			<div class="but-description">Click here to place an order for any of the services we provide, book us now and one of our team will be in contact with you shortly.</div>
		</div>
		<div class="but-subsection2">
			<div class="gaq-class"><a  href="/request-a-quote"><div class="gaq">Get A Quote</div></a></div>
		</div>
	</div>
	</div>
{% endblock %}